<!DOCTYPE html>
<html>
<head>
	<title>DATOS DE LA FICHA</title>
</head>
<body>
	{{ title }}<br>
	<!-- esto "{{ request.user}}"  pone el nombre de super usuario en el html-->
<hr>
</body>

<form method="POST" action=""> {% csrf_token %}
	{{ formulario_ficha.as_p }}
<input type = "submit" value = "Guardare">
</form>
</html>