<!DOCTYPE html>
<html>
<head>
	<title>DATOS PACIENTE</title>
</head>
<body>
	{{ title }}<br>
	<!-- <hr>esto "{{ request.user}}"  pone el nombre de super usuario en el html-->

</body>

<form method="POST" action=""> {% csrf_token %}
	{{ formulario_paciente.as_p }}
<input type = "submit" value = "Guardare">
</form>
	{{ mensaje }}
</html>